@import "common.sass"

header
  background-color: #383a3a;
  width: 100%;
  height: 50px;
  margin: 0px;
  img
    margin: 5px;
    margin-left: 25px;
    max-width: 50px;
    min-width: 30px;

h2
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 25px;

h3
  font-size: 1.3em;
  margin-left: 25px;

#skills-container
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .skill-container
    padding: 30px;

  .skill-icon-container
    background-color: #c3eaff;
    border-radius: 50%;
    overflow: hidden;
    padding-top: 15px;
    width: 150px;
    height: 150px;
    .skill-icon
      display: block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 100%;

  .skill-name
    width: 100%;
    border-bottom: solid 2px $light-blue;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;

  .skills-list
    margin-top: 10px;
    li
      color: $light-blue;

  .skill-apply-btn
    background-color: $light-blue;
    color: white;
    border-radius: 10px;
    padding: 2px 6px;
    margin-top: 8px
    float: right;
