@import "common.sass"

h3
  margin-left: 30px;
  font-size: 1.8em;


#main-banner
  width: 100vw;
  height: 100vh;
  background-image: url('../img/lake.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #logo
    display: block;
    margin: 50px;
    max-width: 150px;
    min-width: 100px;
    align-self: flex-start;
    margin-bottom: auto

  #banner-desc
    font-size: 1.5em;
    width: 60%;
    text-align: center;
    color: white;
    margin: 20px;

  #btn
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: auto;
    margin-top: 30px;
    padding: 5px 25px;
    text-align: center
    transition: background-color 0.3s;

  #btn:hover
    color: white;
    background-color: rgba(255,2552,255,0.3);


#how-it-works
  margin-top: 30px;
  width: 100vw;

  #icons-container
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  .icon
    display: block;
    margin: 10px auto;
    min-width: 180px;
    min-height: 180px;

  .icon-desc
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    width: 90%;
    display: block;
    font-size: 1.4em;


#destinations
  width: 100vw;
  margin-top: 100px;

  .destination-container
    margin: 50px 50px;
    height: 500px;
    background-color: black;

  .destination-background
    width: 100%;
    height: 100%;
    background-image: url('../img/dest/dest1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

  .destination-border-container
    height: 100%;
    padding: 20px;
    position: relative;
    top: -100%;
    width: 100%;
    .destination-border
      border-color: white;
      border-style: solid;
      border-width: 4px;
      height: 100%;
      width: 100%;
      z-index: 100;

  .destination-overlay
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    float: left;

  .destination-name-container
    display: block;
    margin: 20px;
    color: white;
    .destination-name
      font-weight: bold;
      font-size: 2.2em;
      color: white;
    .destination-desc
      font-size: 1.3em;
      color: white;

  .destination-btn-container
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -90px;
    width: 180px;

  .destination-btn
    border-radius: 5px;
    padding: 5px;
    display: block;
    text-align: center
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    transition: background-color 0.3s;

  .destination-btn:hover
    color: white;
    background-color: rgba(255,2552,255,0.3);

@media screen and (max-width: 480px)
  #main-banner
    #logo
      margin: 30px auto;
    #banner-desc
      width: 90%;
      margin: 50px;
      font-size: 1.1em;

  #how-it-works
    .icon
      min-width: 150px;
      min-height: 150px;
    .icon-desc
      margin-bottom: 50px;

  #destinations
    margin-top: 0px;
    .destination-container
      margin: 50px 0px;
      height: 500px;
      background-color: black;
    .destination-border-container
      padding: 10px;
    .destination-name-container
      text-align: center;
      .destination-desc
        line-height: 20px;
    .destination-btn-container
      bottom: 30px;
      left: 50%;
      margin-left: -110px;
      width: 220px;
