<!DOCTYPE html>
<html lang"en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
        initial-scalable=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/dest.css">

    <title>Kuiki</title>
</head>
<body>

<header>
    <a href="/">
        <img id="logo" src="/img/kuiki_trip_white.svg">
    </a>
</header>

<h2>Oportunidades</h2>

<div id="skills-container">

    <div class="skill-container">
        <div class="skill-icon-container">
            <img class="skill-icon" src="/img/developer.svg">
        </div>
        <h4 class="skill-name">Desarrollador</h4>
        <ul class="skills-list">
            <li>Android</li>
            <li>iOS</li>
        </ul>
        <a class="skill-apply-btn">Ver oportunidades</a>
    </div>

    <div class="skill-container">
        <div class="skill-icon-container">
            <img class="skill-icon" src="/img/photographer.svg">
        </div>
        <h4 class="skill-name">Fotógrafo</h4>
        <ul class="skills-list">
            <li>Retratos</li>
            <li>Paisajismo</li>
        </ul>
        <a class="skill-apply-btn">Ver oportunidades</a>
    </div>

    <div class="skill-container">
        <div class="skill-icon-container">
            <img class="skill-icon" src="/img/chef.svg">
        </div>
        <h4 class="skill-name">Cocinero/Chef</h4>
        <ul class="skills-list">
            <li>Gourmet</li>
            <li>Tradicional Peruana</li>
        </ul>
        <a class="skill-apply-btn">Ver oportunidades</a>
    </div>

</div>

</body>
</html>
