<!DOCTYPE html>
<html lang"es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
        initial-scalable=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/apply.css">

    <title>Kuiki aplicar</title>
</head>
<body>

    <form id="userForm" method="post">
        <input type="text" name="name" placeholder="Nombre">
        <input type="email" name="mail" placeholder="Correo">
        <input type="hidden" name="__csrf_token" value={{ csrfToken }}>
        <input type="submit" value="Enviar">
    </form>

</body>
</html>
