<!DOCTYPE html>
<html lang"es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
        initial-scalable=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="destinations.css">

    <title>Destinos Kuiki</title>
</head>
<body>

    <h1>Destinos Kuiki</h1>

    <ul>
        <li>Cuenca</li>
        <li>Quito</li>
        <li>Guayaquil</li>
    </ul>

</body>
</html>
