<!DOCTYPE html>
<html lang"es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
        initial-scalable=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/home.css">

    <title>Kuiki</title>
</head>
<body>

    <div id="main-banner">
        <img id="logo" src="img/kuiki_trip_white.svg">
        <p id="banner-desc">
            Kuiki Trip es una plataforma que te lleva a  recorrer el mundo, a
            conocer nuevas culturas y a redescubrirte en el camino
        </p>
        <a id="btn">Ver destinos</a>
    </div>



    <div id="how-it-works">
        <h3>¿Cómo funciona?</h3>

       <div id="icons-container">
            <div>
                <img class="icon" src="img/home_icon1.svg">
                <p class="icon-desc">
                    Elije tu destino
                </p>
            </div>

            <div>
                <img class="icon" src="img/home_icon2.svg">
                <p class="icon-desc">
                    Canjea tus habilidades por beneficios
                </p>
            </div>

            <div>
                <img class="icon" src="img/home_icon3.svg">
                <p class="icon-desc">
                    Conoce el mundo sin límites
                </p>
            </div>
        </div>
    </div>



    <div id="destinations">
        <h3>Elije el mejor destino</h3>


        <div class="destination-container">
            <div class="destination-overlay"></div>
            <div class="destination-background"></div>

            <div class="destination-border-container">
                <div class="destination-border">
                    <div class="destination-name-container">
                        <h4 class="destination-name">Cuenca</h4>
                        <h5 class="destination-desc">...descripción cuenca...??</h5>
                    </div>

                    <div class="destination-btn-container">
                        <a class="destination-btn" href="/destinations/cuenca">Ver oportunidades</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script src="js/bundle.js"></script>
</body>
</html>
