<!DOCTYPE html>
<html lang"en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
        initial-scalable=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="css/main.css">

    <title>Kuiki</title>
</head>
<body>

<h1>Kuiki</h1>

<h2>Some Person</h2>
<p>
    name: {{ name }}
<p>
    age: {{ age }}


</body>
</html>
